<!DOCTYPE html>
<html lang="en">
    
    <%- include('layouts/header.ejs') -%>

    <body>
        <!-- Navigation-->
        
        <%- include('layouts/navbar.ejs') -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Inserimento</h1>
                            <span class="subheading">Inserimento di un nuovo blogpost</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form method="POST" action="/post/save">
                                <div class="form-floating">
                                    <input class="form-control" name="input_title" id="title" type="text" placeholder="Enter title..." data-sb-validations="required" />
                                    <label for="title">Title</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="input_body" id="body" placeholder="Enter body..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="body">Body</label>
                                </div>
                                <br /><!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" type="submit">Insert</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        
        <%- include('layouts/footer.ejs') -%>
        
        <%- include('layouts/scripts.ejs') -%>
    </body>
</html>
