<!DOCTYPE html>
<html lang="en">
    
    <%- include('layouts/header.ejs') -%>

    <body>
        <!-- Navigation-->

        <%- include('layouts/navbar.ejs') -%>
        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <% for(var i=0; i<postList.length; i++) { %>

                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="/post/detail/<%= postList[i]._id %>">
                                <h2 class="post-title"><%= postList[i].title %></h2>
                                <h3 class="post-subtitle"><%= postList[i].body %></h3>
                            </a>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                    <% } %>

                </div>
            </div>
        </div>
        <!-- Footer-->
        
        
        <%- include('layouts/footer.ejs') -%>
        
        <%- include('layouts/scripts.ejs') -%>
    </body>
</html>
