<!DOCTYPE html>
<html lang="en">
    
    <%- include('layouts/header.ejs') -%>

    <body>
        <!-- Navigation-->

        <%- include('layouts/navbar.ejs') -%>
        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= blogpost.title %></h1>
                            <h2 class="subheading"><%= blogpost.body %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        
        <%- include('layouts/footer.ejs') -%>
        
        <%- include('layouts/scripts.ejs') -%>
    </body>
</html>
